In [3]:
import numpy as np
import pandas as pd

# This notebook will be mainly used for the capstone project
## This file imports pandas and numpy and shows two simple examples with these.

In [4]:
a = [[11, 12, 13], [21, 22, 23], [31, 32, 33]]

In [6]:
X=np.array([[1,0],[0,1]])
Y=np.array([[0,1],[1,0]])
Z=X+Y
print(Z)

[[1 1]
 [1 1]]

In [8]:
raw_data = {'Name': ['Tom', 'Molly', 'Jack', 'Jill', 'Nancy'], 
         
        'Age': [42, 52, 36, 24, 73], 
        }
df = pd.DataFrame(raw_data, columns = ['Name', 'Age'])
df

    Name  Age
0    Tom   42
1  Molly   52
2   Jack   36
3   Jill   24
4  Nancy   73

In [13]:
print('Hello Capstone Project Course!')

Hello Capstone Project Course!